<style>
.leaderboard {
  color: #eafc40;
  background-color: #254559;
}
#slide-out, #slide, ul{
  background-color: #eafc40;
}
</style>

<div id="slide" style="font-size: 25px">
  <ul id="slide-out" class="side-nav full striped">
    <br>
  </ul>
</div>

<div class=" point" style="width:90%">
  <a href="#" data-activates="slide-out" class="button-collapse point">
    <i id="leaderboard" class="small mdi-navigation-menu point"><h5 class="leaderboard btn point">Leaderboard</h5></i>
  </a>
</div>

<script>
  $(document ).ready(function(){
    $('.button-collapse').sideNav({
        menuWidth: 300,
        closeOnClick: true,
        edge: 'right', // <--- CHECK THIS OUT
    });

    $('.collapsible').collapsible();
  });
</script>
