
<div style="font-size: 25px">
  <ul id="slide-out" class="side-nav full striped">
    <br>
    <li><a href="#!"><h5>Erin (1,000,000 pts)</h5></a></li>
    <li><a href="#!"><h5>Enzo (10 pts)</h5></a></li>
    <li><a href="#!"><h5>Min (2 pts)</h5></a></li>
  </ul>
</div>