
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a style="padding-left: 10px; color: #61ccbf; font-weight: bold;" class="brand-logo">LOOT BOX</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/collection">My Collection</a></li>
          <li><a href="/loot" class="waves-effect waves-light btn">Purchase Loot Box</a></li>
        </ul>
      </div><!--NavWrapperClose-->
    </nav>
  </div><!--NavBarDivClose-->

<script>
  $(document ).ready(function(){
    $(".button-collapse").sideNav();
  })
</script>