<div style="width: 90%" class="container">
  <div class="row">
    <div class="col s12">
      <h5 class="teal-text text-lighten-1">The Gambler</h5>
      <img class="z-depth-4" height="150px"src="assets/img/other/enzo.png">
    </div>
  </div>
</div>