 {{>nav-partial}}

 <div class="container" style="width: 100%"></div>
 <br>
  <div class="row">
    <div class="col s6">
      <div class="left-align">{{>user-partial}}</div>
    </div>
    <div class="col s6">
      <div class="right-align">{{>leaderboard-partial}}</div>
    </div>
  
  </div><!--row-->
 </div><!--container-->
{{!-- <style>
    .images {
        display: none;
    }
    .images2 {
        display: none;
    }
    .hidden-pack-items {
        display: none;
    }
</style> --}}

<div class="class container">

    <div class="class ball row">
            {{#each kitty}}
                <div class="col s4 ball">
                    <img width="200px" src="{{this.image}}">
                </div>
            {{/each}}
        <div class="class s2"></div>
    </div>

    	<div id="info">
		<div class="column">
			<h1>1</h1>
			<span class="coords-x"></span>
			<span class="coords-y"></span>
		</div>
		<div class="column">
			<h1>7</h1>
			<span class="coords-x"></span>
			<span class="coords-y"></span>
		</div>
		<div class="column">
			<h1>3</h1>
			<span class="coords-x"></span>
			<span class="coords-y"></span>
		</div>
	</div>
    <div>
      

    </div>
 
</div>