
 {{>nav-partial}}

 <div class="container" style="width: 100%"></div>
 <br>
  <div class="row">
    <div class="col s12">
      <div class="right-align">{{>leaderboard-partial}}</div>
    </div>
  </div><!--row-->
 </div><!--container-->
{{!-- <style>
    .images {
        display: none;
    }
    .images2 {
        display: none;
    }
    .hidden-pack-items {
        display: none;
    }
</style> --}}

<div class="class container">

    <div class="class ball row">
            {{#each kitty}}
                <div class="col s2 ball">
                    <img width="150px" src="{{this.image}}">
                </div>
            {{/each}}
        <div class="class s2"></div>
    </div>
</div>
