
 {{>nav-partial}}

<br><br><br><br><br><br><br><br><br><br>

 <div class="container" style="width: 100%"></div>
 <br>
  <div class="row">
    <div class="col s12">
      <div class="right-align">{{>leaderboard-partial}}</div>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="col s12 center-align">
      <img class="z-depth-5" height="500px"src="https://i.imgur.com/xZM2Cvc.jpg" alt="Loot Box">
    </div>
  </div>

  <div class="row">
    <div class="col s12 center-align">
      <img class="z-depth-5" height="500px"src="assets/img/got/2in.png" alt="Loot Box">
    </div>
  </div>

  <div class="row">
    <div class="col s12 center-align">
      <img class="z-depth-5" height="500px"src="assets/img/got/2inJS.png" alt="Loot Box">
    </div>
  </div>

 </div><!--container-->
