<div class="container">
    <div class="box">
    <h1>Boxy Box</h1>

        <input id="txtUserName" name="userName" type="email" class="email" placeholder="Username" />

        <input id="txtPassword" name="password" type="password" class="email" placeholder="Password" />

        <button id="btnLogin" class="btn sign-in">
            Log In
        </button><!-- End Btn -->

        <button id="btnSignUp" class="btn2 sign-up">
            Sign Up
        </button><!-- End Btn2 -->

        <button id="btnLogout" class="btn sing-in hide">
            Sign Out
        </button>

    <p id="dupe" class="duped hide">Username already taken</p>
    <p id="badCred" class="badCred hide">Incorrect Username/Password</p>
    <p id="noCred" class="noCred hide">Please enter Username/Password</p>

    </div> <!-- End Box -->
</div>
