<div class="container">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="row">
            <div class="col s4"></div>

            <div class="col s4 center-align">
                <div class="box">
                <h1>Boxy Box</h1>

                    <input style="padding-left: 10px" id="txtUserName" name="userName" type="email" class="email" placeholder="Username" />

                    <input style="padding-left: 10px" id="txtPassword" name="password" type="password" class="email" placeholder="Password" />

                    <button id="btnLogin" class="btn #c6ff00 lime accent-3 amber-text sign-in" style="margin: 5px">
                        Log In
                    </button><!-- End Btn -->

                    <button id="btnSignUp" class="btn2 #c6ff00 lime accent-3 amber-text btn sign-up" style="margin: 5px">
                        Sign Up
                    </button><!-- End Btn2 -->

                    <button id="btnLogout" class="btn indigo accent-1 sing-in hide" style="margin: 5px">
                        Sign Out
                    </button>

                    <button id="admin" class="btn right-align #c6ff00 lime accent-3 amber-text" style="margin: 5px">
                        Admin
                    </button><!-- End Btn -->

                <p id="dupe" class="duped hide">Username already taken</p>
                <p id="badCred" class="badCred hide">Incorrect Username/Password</p>
                <p id="noCred" class="noCred hide">Please enter Username/Password</p>

                </div> <!-- End Box -->
            </div><!--col-->
            <div class="col s4"></div>
        </div><!--row-->

</div>
<script src="/assets/js/log-in.js"></script>
