#coinCountFill{
    margin-top: -1em !important;
}

#userNameDisplay{
    margin-top: -5px !important;
}

.images {
  animation: 250ms ease-in-out 1

}

#btnLogin, #btnLogout, #btnSignUp, #admin {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

#logbox {
    background: #f5f5dc;
    border: 2px solid #eed5b7;
}
